@model UserViewsModels
<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">إضافة طلب</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="add" id=" addUserForm">
                    <div class="row">
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="fullName" class="mb-1"> </label>
                                <input asp-for="fullName" type="text"  class="form-control">
                                <span asp-validation-for="fullName" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="email" class="mb-1"> </label>
                                <input asp-for="email" type="email" class="form-control">
                                <span asp-validation-for="email" class="text-danger"></span>

                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="password" class="mb-1"> </label>
                                <input asp-for="password" type="password" class="form-control">
                                <span asp-validation-for="password" class="text-danger"></span>

                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="phone" class="mb-1"> </label>
                                <input asp-for="phone" type="number" class="form-control">
                                <span asp-validation-for="phone" class="text-danger"></span>

                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="userType" class="mb-1"> </label>
                                <input asp-for="userType" type="text" class="form-control">
                                <span asp-validation-for="userType" class="text-danger"></span>

                            </div>
                        </div><!-- END ITEM -->
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" onclick="submitForm()" class="btn btn-primary px-5" title="save">حفظ</button>
                    </div>
                </form>
                
               <script>
                @{
                    <script >
                                            import Swal from 'sweetalert2'

                        // or via CommonJS
                        const Swal = require('sweetalert2')
                    </script>
                    <text>


                        function submitForm()
                        {
                        if ($('#fullName').val() === '' || $('#email').val() === '')|| $('#password').val() === '') $('#phone').val() === '') $('#userType').val() === '') {
                        Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please fill in all the required fields!'
                        });
                        } else
                        {
                        $('#addUserForm').submit();
                        }
                    
                    </text>
                   


                }
                   </script>
                


            </div>
        </div>
    </div>
</div>

